[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.5"
python-dotenv = "*"
flask-restful = "*"
flask-cors = "*"
flask-mongoengine = "*"
flask-sqlalchemy = "*"
pymysql = "*"
wtforms = "*"
flask-wtf = "*"
sqlalchemy = "*"
faker = "*"
flask-uploads = "==0.2.1"
pandas = "*"
openpyxl = "*"
requests = "*"
gunicorn = "*"
flask-oidc = {ref = "refs/pull/144/head", git = "git+https://github.com/puiterwijk/flask-oidc.git"}
qrcode = {extras = ["pil"], version = "*"}
schedule = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
